<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>crewup</title>
    <!-- link to  compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- link to css -->
    <link rel="stylesheet" href="./../css/master.css">
      <!-- link to fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
  </head>
  <body id="homebody">
    <nav id="Div" class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="#">
        <i class="fa fa-database text-light"></i>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#a" aria-controls="a" aria-expanded="false" aria-label="Toggle navigation" name="button">
        <span class="navbar-toggle-icon"></span>
      </button>
      <div class="collapse navbar-collapse  ml-auto" id="a">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active pr-3 pl-3">
            <a href="#" class="nav-link text-light">student</a>
          </li>
          <li class="nav-item pr-3 pl-3">
            <a href="#" class="nav-link text-light">admin</a>
          </li>
          <li class="nav-item pr-3 pl-3">
            <a href="#" class="nav-link text-light">help</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="homejumbotron " class="pt-5"  >
      <div class="container mt-md-5 pt-3">
        <div class="row mt-md-5">
          <div class="col-md-6 text-center  ">
            <h1 class="display text-light" id="home">CREWUP</h1>
            <h6 class="text-light">A place to manage your database</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Link to  compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
